:root {
    --dark: #000807;
    --green: #62C370 ;
    --pink: #CC3363;
    --blue: #B3B7EE ;
    --white: #FBF9FF;
}
.namex{
    color: var(--white);
    font-size: 48px;
    margin-top: 20px;
    margin-inline: 25px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.pricexpower{
    color: var(--white);
    margin-inline: 25px;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.presidentxhash{
    color: var(--white);
    margin-inline: 25px;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.buyButton{
    background-color: var(--blue);
    font-size: 16px;
    line-height: 40px;
    padding: 10px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: var(--pink);
    border-width: 4px;
    transition: border-color 0.2s, background-color 0.2s;
}
.buyButton:hover{
    background-color: var(--green);
    border-color: var(--white);
    cursor: pointer;
}
.buyButtonNotActive{
    background-color: var(--blue);
    font-size: 16px;
    line-height: 40px;
    padding: 10px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: var(--pink);
    border-width: 4px;
    transition: border-color 0.2s, background-color 0.2s;
    opacity: 0.4;
}
.changeButton{
    background-color: var(--blue);
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: var(--pink);
    border-width: 4px;
    padding: 10px;
    transition: border-color 0.2s, background-color 0.2s;
}
.changeButton:hover{
    background-color: var(--green);
    border-color: var(--white);
    cursor: pointer;
}
.changeButtonNotActive{
    background-color: var(--blue);
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: var(--pink);
    border-width: 4px;
    padding: 10px;
    transition: border-color 0.2s, background-color 0.2s;
    opacity: 0.4
}

.popUp{
    font-size: 18px;
    position: absolute;
    color: var(--whit);
    background-color: var(--pink);
    border-style: solid;
    border-width: 4px;
    border-color: var(--blue);
}

#xsale{
    margin-top:auto;
}
.containerPrice{
    display: flex;
    margin: 20px;
    text-align: center;
}
.plusMinus{
    margin: 3px;
    width: 40px;
    height: 20px;
    color: var(--white);
    background-color: var(--dark);
    border-style: solid;
    border-color: var(--blue);
    border-width: 2px;
    padding-bottom: 15px;
    transition: border-color 0.2s;
}
.plusMinus:hover{
    border-color: var(--pink);
}
.number{

    margin: 3px;

    background-color: var(--blue);
    border-style: solid;
    border-color: var(--pink);
    border-width: 4px;
}
#dot{
    margin: 0px;
    padding: 0px;
    line-height: 1px;
    width: auto;
    height: 5px;
    margin-top: 50px;
    background-color: var(--pink);
    border-style: solid;
    border-color: var(--blue);
    border-width: 4px;
}
.setPriceButton{
    margin: 3px;
    background-color: var(--blue);
    font-size: 16px;
    height: 15px;
    text-align: center;
    margin-left: 25px;
    line-height: 15px;
    margin-top: 25px;
    border-style: solid;
    border-color: var(--pink);
    border-width: 4px;
    padding: 8px;
    transition: border-color 0.2s, background-color 0.2s;
}
.setPriceButton:hover{
    background-color: var(--green);
    border-color: var(--white);
    cursor: pointer;
}
.currency{
    color: var(--white);
    font-size: 24px;
    margin-top: 30px;
}